picture.logo
  = tag :source, class: "lazy", "data-srcset": image_path("logo_1600.webp") + " 2x, " + image_path("logo_800.webp") + " 1x", type: "image/webp"
  = tag :img, class: "lazy", "data-srcset": image_path("logo_1600.png") + " 2x, " + image_path("logo_800.png") + " 1x", "data-src": image_path("logo_800.png"), alt: data.settings.site.title
