---
title: Keltic Dream · Le rêve celte
---

= partial 'localizable/kelticdream/logo'
h2#baseline = data.settings.site.description

= partial 'localizable/kelticdream/ateliers'
= partial 'localizable/kelticdream/navigation', locals: { anchor: :presta }
= partial 'localizable/kelticdream/prestations'
= partial 'localizable/kelticdream/navigation', locals: { anchor: :agenda }
= partial 'localizable/kelticdream/agenda'
= partial 'localizable/kelticdream/navigation', locals: { anchor: :galerie }
= partial 'localizable/kelticdream/galerie'
= partial 'localizable/kelticdream/navigation', locals: { anchor: :contact }
= partial 'localizable/kelticdream/contact'
